.navbar {
     /* border: red 3px solid; */
     margin: auto;
     font-size: x-large;
     font-weight: 600;
     font-style: oblique;
     margin-top: -5%;
     background-color: blanchedalmond !important; /* force the background color*/
     color: darkolivegreen;
     padding-left: 20px;
     /* Adjust padding on the left */
     padding-right: 20px;
     /* Adjust padding on the right */
     padding-top: 40px;
     /* Adjust padding on the top */
     padding-bottom: 40px;
     /* Adjust padding on the bottom */
}

body {
     padding-top: 60px;
     /* Prevent content from being hidden behind the navbar */
}